
*{
    margin: 0;
    padding: 0;
}

#card{
    display: flex;
    border: 10x solid black;
    padding: 50px;
    justify-content: space-around;
   flex-wrap: wrap;
    margin-bottom: 20px;
}

.card{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 4px 3px pink;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.card-Username{
    color: red;
    font-weight: 200;
}

